# SEF Access Transformers
# Vanish system requires access to internal classes
public net.minecraft.server.level.ChunkMap f_140150_ # entityMap, used in VanishingHandler#sendPacketsOnVanish
public net.minecraft.server.level.ChunkMap$TrackedEntity # used in ChunkMapTrackedEntityMixin
public-f net.minecraft.network.protocol.game.ClientboundPlayerInfoUpdatePacket f_244436_ # entries, used in ServerGamePacketListenerImplMixin

